.singleMenu {
    .menuSection {
		margin-bottom: 9rem;

		&:last-child {
			margin-bottom: 0;
		}

		.foodItem {

			span:first-child {
				white-space: nowrap;
			}

			&:last-child {
				margin-bottom: 0;
			}
			
			.price {
				font-weight: normal;
			}
		}
	}

	.sideNav {
		font-size: 1.8rem;

		.foodMenu {
			position: sticky;
			top: 40%;
		}

		.menuItem {

			&:first-child {
				padding-top: 0;
			}

			a {
				opacity: 0.3;

				&:hover {
					opacity: 1;
				}
			}

			&.current-menu-item, &.bat {

				a {
					opacity: 1;
					font-weight: normal;
				}
			}

			&.bat {
				position: relative;
				@extend .icon-arrow-right !optional;

				&::before {
					font-family: 'icomoon';
					top: 1.1rem;
				}
			}
		}
	}

	@media only screen and (max-width: 767px) {

		h1.title {
			text-align: center;
		}

		.menuSection {

			.foodItem {
				
				span:first-child {
					white-space: initial;
				}
			}
		}

		.sideNav {
			margin-bottom: 8rem;

			.foodMenu {
				position: relative;
				top: 0;
			}

			#menu-menu-nav {
				display: flex;
				flex-wrap: wrap;
			}

			.menuItem {
				padding: 0 2rem 0 0;

				&.bat {
					display: none;
				}

				&.break {
					width: 100%;
					flex: 0 0 100%;
				}

				a {
					font-size: 1.6rem;
				}
			}
		}

	}
}