.hero-slider {
	width: 100%;
	
	.slide {
		height: calc( 100vh - 5.5rem );
		
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	.slick-prev, .slick-next {
		height: 100%;
		width: 50%;

		&::before {
			display: none;
		}
	}

	.slick-prev {
		left: 0;

		&:hover {
			cursor: url('../../../images/arrow-left.png'), auto;
		}
	}

	.slick-next {
		right: 0;

		&:hover {
			cursor: url('../../../images/arrow-right.png'), auto;
		}
	}

	@media only screen and (max-width: 800px) {
		
		.slide {
			height: calc( 55vh - 5.5rem );
		}

		.slick-prev, .slick-next {
			position: absolute;
			top: auto;
			bottom: -6.5rem;
			width: 50px;
			height: 50px;

			&::before {
				display: block;
				color: $green;
				font-family: 'icomoon';
				font-size: 1rem;
			}
		}

		.slick-prev {
			left: 8.3333333333%;

			&::before {
				content: "\e902";
			}
		}
		.slick-next {
			right: 8.3333333333%;

			&::before {
				content: "\e903";
			}
		}
	}

}